
.title.is-2
  font-weight: 400

.title.is-5
  font-weight: 500

.title.is-bold
  font-weight: bold
  
.title.is-half-margin-bottom
  margin-bottom: 0.5rem

.title.is-indented
  margin-left: 1.5rem

.title.has-no-margin-bottom 
  margin-bottom: 0
  
.title.callout
  font-weight: $weight-semibold

  strong
    font-weight: $weight-bold
    color: $primary

  strong.dark
    color: $dark
