.tooltip
  &.has-tooltip-active::before,
  &:hover::before
    padding: 0.7rem 1rem
    font-size: 0.85rem
    color: $dark
    background-color: $white
    border-radius: 4px
    box-shadow: 0 0 10px rgba($dark, 0.2)
    border: 1px solid $cloud

  &.has-tooltip-left.has-tooltip-active:not(.is-loading)::after,
  &.has-tooltip-left:focus:not(.is-loading)::after,
  &.has-tooltip-left:hover:not(.is-loading)::after
    border-color: transparent transparent transparent rgba($cloud, 0.9)

  &.has-tooltip-right.has-tooltip-active:not(.is-loading)::after,
  &.has-tooltip-right:focus:not(.is-loading)::after,
  &.has-tooltip-right:hover:not(.is-loading)::after
    border-color: transparent rgba($cloud, 0.9) transparent transparent

  &.has-tooltip-top.has-tooltip-active:not(.is-loading)::after,
  &.has-tooltip-top:focus:not(.is-loading)::after,
  &.has-tooltip-top:hover:not(.is-loading)::after
    border-color: rgba($cloud, 0.9) transparent transparent transparent

  &.has-tooltip-bottom.has-tooltip-active:not(.is-loading)::after,
  &.has-tooltip-bottom:focus:not(.is-loading)::after,
  &.has-tooltip-bottom:hover:not(.is-loading)::after
    border-color: transparent transparent rgba($cloud, 0.9) transparent
