@import "box/box-overrides"
@import "breadcrumb/breadcrumb-overrides"
@import "button/button-overrides"
@import "columns/columns-overrides"
@import "input/input-overrides"
@import "menu/menu-overrides"
@import "modal/modal-overrides"
@import "navbar/navbar-overrides"
@import "radio/radio-overrides"
@import "select/select-overrides"
@import "tag/tag-overrides"
@import "tabs/tabs-overrides"
@import "title/title-overrides"
@import "tooltip/tooltip-overrides"
@import "notification/notification-overrides"
@import "hero/hero-overrides"

a
 @include transition(.2s)

.mute
  color: $grey

.has-text-purple
  color: $purple !important

.is-text-underlined
  text-decoration: underline

.is-hidden
  display: none

@media only screen and (max-width: $tablet)
  .field.is-grouped
    flex-wrap: wrap

  .field.is-grouped > .control:not(:last-of-type)
    width: 100%
    margin: 0
    margin-bottom: 1rem


@if $variable-columns
.columns.is-variable
  --columnGap: 0.75rem
  margin-left: calc(-1 * var(--columnGap))
  margin-right: calc(-1 * var(--columnGap))
  .column
    padding-top: var(--columnGap)
    padding-bottom: var(--columnGap)
    padding-left: var(--columnGap)
    padding-right: var(--columnGap)
  @for $i from 0 through 8
    &.is-#{$i}
      --columnGap: #{$i * 0.25rem}
    +mobile
      &.is-#{$i}-mobile
        --columnGap: #{$i * 0.25rem}
    +tablet
      &.is-#{$i}-tablet
        --columnGap: #{$i * 0.25rem}
    +tablet-only
      &.is-#{$i}-tablet-only
        --columnGap: #{$i * 0.25rem}
    +touch
      &.is-#{$i}-touch
        --columnGap: #{$i * 0.25rem}
    +desktop
      &.is-#{$i}-desktop
        --columnGap: #{$i * 0.25rem}
    +desktop-only
      &.is-#{$i}-desktop-only
        --columnGap: #{$i * 0.25rem}
    +widescreen
      &.is-#{$i}-widescreen
        --columnGap: #{$i * 0.25rem}
    +widescreen-only
      &.is-#{$i}-widescreen-only
        --columnGap: #{$i * 0.25rem}
    +fullhd
      &.is-#{$i}-fullhd
        --columnGap: #{$i * 0.25rem}
