.tag:not(body)
  letter-spacing: $letter-spacing
  font-weight: 600
  padding-bottom: .1em
  height: 1.75em
  line-height: 1.3
  font-size: $tag-font-size

  .svg-inline--fa
    margin-top: .125em

  &.is-purple
    background-color: $purple
    color: $purple-invert

  &.is-hydro
    background-color: $dark
    color: $dark-invert
