@import "~styles/index";

.custom-radio {
  display: flex;
  align-items: center;

  & + .custom-radio {
    margin-left: 0;
  }

  .custom-radio__content {
    width: 100%;
  }
  .custom-radio__input:checked,
  .custom-radio__input:not(:checked) {
    & + span {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: $grey;
      width: 2.25rem;
      height: 1rem;
    }
    & + span:before,
    & + span:after {
      @include transition();
      content: "";
      position: absolute;
    }
  }
  .custom-radio__input:not(:checked) + span:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .custom-radio__input:checked + span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
