.breadcrumb
  user-select: auto
  font-size: 1.375rem

  a
    color: $pigeon
    padding: 0 0.375em
    &:hover
      color: $greenery
    svg
      font-size: 1.125rem
  li.is-active
    a
      font-weight: 600
