@keyframes pulseBox {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($primary, 0.5);
    box-shadow: 0 0 0 0 rgba($primary, 0.5);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba($primary, 0);
    box-shadow: 0 0 0 10px rgba($primary, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba($primary, 0);
    box-shadow: 0 0 0 0 rgba($primary, 0);
  }
}

@keyframes pulseError {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($danger, 0.5);
    box-shadow: 0 0 0 0 rgba($danger, 0.5);
  }
  70% {
    -moz-box-shadow: 0 0 0 6px rgba($danger, 0.4);
    box-shadow: 0 0 0 6px rgba($danger, 0.4);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba($danger, 0.1);
    box-shadow: 0 0 0 0 rgba($danger, 0.1);
  }
}

.pulse {
  $from: #ebf0f5;
  $to: #dedfe0;
  background: linear-gradient(-90deg, $from 0%, $to 50%, $from 100%);
  background-size: 400% 400%;
  animation: pulse 1.4s ease-in-out infinite;

  &.fast {
    animation: pulse 0.7s ease-in-out infinite;
  }
  @keyframes pulse {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: -135% 0%;
    }
  }
}

@keyframes slide-from-left {
  0% {
    left: -100%;
  }

  100% {
    left: 0%;
  }
}

@keyframes slide-from-right {
  0% {
    right: -100%;
  }

  100% {
    right: 0%;
  }
}

@keyframes slide-from-bottom {
  0% {
    top: 100vh;
  }

  100% {
    top: $fs-patient-no-impersonation-mobile-top;
  }
}

@keyframes scaleDownFadeOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideFadeInTop {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideFadeOutTop {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-10%);
    opacity: 0;
  }
}

@keyframes slideFadeInFromLeft {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFadeOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(20%);
    opacity: 0;
  }
}
@keyframes slideFadeOutToLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-20%);
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes verticalMaskIn {
  90% {
    border-top: 0;
    border-bottom: 0;
    height: 0px;
    padding: 0 1em;
    margin-bottom: -0.7em;
  }
  100% {
    display: none;
  }
}

@keyframes wiggleIn {
  0% {
    transform: translateX(-5px);
    opacity: 0;
  }

  25% {
    transform: translateX(5px);
    opacity: 1;
  }

  50% {
    transform: translateX(-2.5px);
    opacity: 1;
  }

  75% {
    transform: translateX(2.5px);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pulseComplete {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.025);
  }

  100% {
    transform: scale(1);
  }
}

.transition-vertical-mask-in {
  display: inline-block;
  overflow: hidden;
  &:not(.is-visible) {
    border-top: 0;
    border-bottom: 0;
    height: 0px;
    padding: 0 1em;
    margin-bottom: -0.7em;
  }
}
