// Bulma initial variables
@import "../../../node_modules/bulma/sass/utilities/initial-variables.sass";

// Set brand colors
$green: $greenery;
$purple: $grape-kiss;
$pink: $calypso-coral;
$red: $calypso-coral;
$blue: $fullscript-blue;
$orange: $np-orange;

// Update Bulma's color/font variables
$family-sans-serif: $body-font;
$primary: $green;
$warning: $orange;
$danger: $red;
$purple-invert: $white;
$warning-invert: $purple-invert;
$light: $light-blue;
$info: $fullscript-blue;
$dark: $orion-blue;
$grey: $pigeon;

$background-danger: rgba($danger, 0.9);
$background-purple: rgba($purple, 0.9);

$background: $background-blue;

$background: $background-blue;

$text: $dark;

$link: $green;
$link-hover: $grey-darker; 

$radius-small: 4px;

$text-strong: $dark;

$size-small: 0.8rem;

// Control Variables
$control-border-width: 1px;
$control-height: 2.75em;

$family-sans-serif: sofia-pro, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
