// classic clearfix
@mixin clearfix {
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

@mixin visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

// Contains an absolutely positioned, scrollable content area - likely using the height-fill mixin
@mixin relfix($height: 100%) {
  position: relative;
  height: $height;
}

// Output rem with a px fallback
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}
@mixin font-size($size) {
  font-size: $size;
  //font-size: calculateRem($size);
}

//
// Sets Styling for placeholders (font size, font weight, and color)
@mixin style-placeholder($font-size, $font-weight, $font-color) {
  ::-webkit-input-placeholder {
    @include font-size($font-size);
    color: $font-color;
    font-weight: $font-weight;
  }
  ::-moz-placeholder {
    @include font-size($font-size);
    color: $font-color;
    font-weight: $font-weight;
  }
  ::placeholder {
    @include font-size($font-size);
    color: $font-color;
    font-weight: $font-weight;
  }
}

//
//  Mixin for including transitions
//
@mixin transition($duration: 0.2s) {
  transition: all $duration $ease-out-cubic;
  transform-style: preserve-3d;
}

// Common styles for brands cards
// $width: How much space in the container it takes up (20% would be 5 in a row)
// $margin: space between each item in the container

@mixin top-brand-card($width, $margin) {
  @include transition(0.2s);
  width: calc(#{$width} - #{$margin});
  margin-right: $margin;
  min-height: 90px;
  height: inherit;
  margin-bottom: $margin;
  max-height: 105px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid lighten($silt-green, 20%);
  position: relative;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border: 1px solid lighten($silt-green, 5%);
    box-shadow: 0 3px 6px rgba($orion-blue, 0.1);
    top: -2px;
  }
}

//
//  Flexible mixin for box-shadow
//
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
//
// Flexible mixin for border-radius
//
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.flexed {
  display: flex !important;

  &.flex-end {
    justify-content: flex-end;
  }
  &.flexed-center {
    align-items: center;
  }
}
