/* stylelint-disable */
// *
// * Palette Colors
// *
// * @usage: defines colors from Warren Dunlop's Fullscript Brand Guide
// *         found at https://brand.fullscript.com/internal
$family-sans-serif: sofia-pro, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$header-font: $family-sans-serif;
$body-font: $family-sans-serif;

// Primary Colors
$greenery: #88b04b;
$orion-blue: #404f5e;

// Secondary Colors
$hydro: #486971;
$silt-green: #abbdb1;
$fullscript-blue: #3498db;
$calypso-coral: #ef5c6e;
$background-calypso-coral: rgba($calypso-coral, 0.9);
$grape-kiss: #784067;
$background-grape-kiss: rgba($grape-kiss, 0.9);
$np-orange: #f89c1c;

$border: #d6ddd8;

$pigeon: #5e778e;
$cloud: #f5f7fa;

$light-blue: #ebf0f5;
$background-blue: #ebf0f5;
$blue-grey: #7793a9;
$gold: #ffd700;
$price-grey: #aabcc4;
$border-green: lighten($silt-green, 14%);

// Off-Colors
$off-grey: #9aacbd;

// Active States
$greenery-active: #779b42;

// Hover States
$greenery-hover: #69922b;
$anchor-hover: #353535;

// Shades
$white: #ffffff;
$black: #000000;

// *
// * Color Definitions
// *
// * @usage: Associates Palette colours with site variables already existing
// *         within the Fullscript/HealthWave Sass definitions

$fs-light-grey: #dbdbdb;
$fs-blue-grey: #f8fafb;
$fs-deep-light-grey: #f3f3f3;
$fs-lightened-silt: #d5ded8;
$fs-dark-grey: $hydro;

$fs-border-green: #d5ded8;

// Patient side greys
$fs-patient-productcard-border: darken($white, 6.67);
$fs-patient-border: darken($fs-deep-light-grey, 15.29);
$fs-patient-lightest-gray: #fafafa;
$fs-sidebar-link-blue: #d1e2f3;
$fs-sidebar-icon-blue: #7793a9;

$fs-patient-impersonation-top: 34px;
$fs-patient-no-impersonation-top: 0px;

$fs-patient-impersonation-mobile-top: 110px;
$fs-patient-no-impersonation-mobile-top: 52px;

//borders
$btn-border-rad: 2px;

$hover: "&:hover, &:focus";

$letter-spacing: 0.01em;

// Z indexes
$zindex-low-foreground: 99;
$zindex-low-background: 98;

$zindex-mid-foreground: 999;
$zindex-mid-background: 998;

$zindex-top-foreground: 9999;
$zindex-top-background: 9998;

$thumb-dimensions: 70px;
$thumb-dimensions-small: 35px;
$thumb-dimensions-large: 65px;

// Bulma default breakpoints
$gap: 32px;
$tablet: 769px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);

// Extra breakpoints
$phone-small: 375px;
$phone-large: 600px;

//
// Animation variables
//
$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
