.select
  &.is-small, &.is-small select,
    height: 1.75rem
    &::after, &:not(.is-multiple):not(.is-loading)::after
      margin-top: -0.25rem
  select
  &.is-loading
    &::after
      top: 0.875rem
      right: 0.875rem
  &.is-small
    select
      font-size: 0.75rem
      padding-top: 0
      padding-bottom: 0
    &::after
      top: 0.675rem
      right: 0.625rem
