.button
  @include transition(0.2s)
  font-weight: 600
  letter-spacing: $letter-spacing
  background-color: transparent

  &.is-medium
    line-height: 1
    padding-bottom: calc(#{$button-padding-vertical} + 0.05em)

  &:hover,
  &.is-hovered
    background-color: $dark

  &:focus,
  &.is-focused
    background-color: $dark

  &:active,
  &.is-active
    background-color: darken($dark, 5%)
    box-shadow: $button-active-box-shadow-size rgba($dark, 0.3)

  @each  $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      &:focus,
      &.is-focused
        background-color: darken($color, 5%)
        border-color: transparent
        color: $color-invert
        &:not(:active)
          box-shadow: $button-focus-box-shadow-size rgba($color, 0.25)
      &:active:not(.is-loading),
      &.is-active:not(.is-loading)
        background-color: darken($color, 5%)
        border-color: transparent
        color: $color-invert
        box-shadow: $button-active-box-shadow-size rgba($color, 0.3)
      &.is-outlined
        background-color: transparent
        border-color: $color
        color: $color
        &:hover,
        &:focus
          background-color: $color
          border-color: $color
          color: $color-invert
        &.is-loading
          &:hover,
          &:focus
            background-color: transparent
            border-color: $color
            color: $color
          &::after
            border-color: transparent transparent $color $color !important

  &.is-white
    color: $dark

.button.already-actioned
  color: $silt-green
  opacity: 1
  
.button.button-cart
  .svg-inline--fa
    margin-right: 5px
    color: $dark
